li {
  width: 40%;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
li:nth-child(2n) {
  background: #FEFEFE;
}
li:nth-child(2n+1) {
  background: #99BBCC;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.info_box {
  padding-left: 5px;
}

ul .material-icons {
  cursor: pointer;
}

a {
  display: block;
  text-decoration: none;
}
a:link {
  color: #000000;
}
a:visited {
  color: #333333;
}
a:hover {
  color: #FF0000;
}
a:active {
  color: #AA0000;
}

input[type="text"], button[type="button"] {
  font-size: 18px;
  font-family: Courier New;
}
